ion-content{
  --ion-background-color:#444;
}

ion-button{
  margin-top: 10%;
  margin-right:50%;
  margin-left:50%;
  transform: translate(-50%, -50%);
  color: #fff;
  --background:linear-gradient(to bottom,#428cff,#62ceff);
}
ion-item{
  color:#f2f2f2;
}
