<ion-header>
  <ion-toolbar>
    <ion-title>
      My games collection
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding" [fullscreen]="true">
  <ion-fab-button color="warning">
    <ion-icon name="camera" (click)="takePhoto()"></ion-icon>
  </ion-fab-button>
  <img class="Okabe" src="/assets/img/okabe.jpg"/>
  <ion-list>
    <h2> Ionic 6 Image Capacitor</h2>
    <hr />
    <h3 *ngIf="images.length === 0" class="ion-padding ion-text-center">Please Select Image!</h3>
      <ion-item *ngFor="let file of images; let i = index">
        <ion-thumbnail slot="start">
          <ion-img [src]="file.data"></ion-img>
        </ion-thumbnail>
        <ion-label class="ion-text-wrap">
          {{ file.name }}
        </ion-label>
        <ion-button slot="end" fill="clear" (click)="deleteImage(file)">
          <ion-icon color="danger" slot="icon-only" name="trash"></ion-icon>
        </ion-button>
      </ion-item>
    </ion-list>
  <ion-grid>
    <ion-row>
      <ion-col size="6" *ngFor="let photo of photos;index as position">
        <ion-img [src]="photo.webviewPath"></ion-img>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-footer>
  <ion-toolbar color="light">
    <ion-button fill="clear" expand="full" color="dark" (click)="selectImage()">
      <ion-icon slot="start" name="camera"></ion-icon>
      Select Image
    </ion-button>
  </ion-toolbar>
</ion-footer>
