<ion-header>
  <ion-toolbar>
    <ion-title>
      My games collection
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding" [fullscreen]="true">
  <img class="Okabe" src="/assets/img/okabe.jpg"/>
  <ion-list>
    <h2> Ionic 6 Capacitor Storage API</h2>
    <hr />
    <h3 *ngIf="images.length === 0" class="ion-padding ion-text-center">Please Select Image!</h3>
    <ion-item *ngFor="let file of images; let i = index">
      <ion-thumbnail slot="start">
        <ion-img [src]="file.data"></ion-img>
      </ion-thumbnail>
      <ion-label class="ion-text-wrap">
        {{ file.name }}
      </ion-label>
      <ion-button slot="end" size="small" color="danger" (click)="deleteImage(file)">
        delete storage item
      </ion-button>
    </ion-item>
    <ion-card *ngFor="let file of images; let i = index">
    <ion-item style="color:lightblue;font-size: 1em">
      {{ file.name}}
      <img class="local" [src] = "file.data">
    </ion-item>
    </ion-card>
  </ion-list>
</ion-content>

<ion-footer>
  <ion-toolbar color="primary">
    <ion-button fill="clear" expand="full" color="light" (click)="selectImage()">
      <ion-icon slot="start" name="camera"></ion-icon>
      Select Image
    </ion-button>
  </ion-toolbar>
</ion-footer>
